#login-panel {
    
    position: relative;
    bottom: 30px;
    height: 100px;
    width: 300px;
    margin: auto;

}

.login-contain{
    color: rgb(39, 39, 39);
    background-color:rgb(218, 221, 226);
    margin-left: auto;
    margin-right: auto;
    width: 400px !important;
    height: 24em;
    border-radius: 10px;
    padding-top: 4em;
    text-align: left;
}