.footer {
  height: 280px;
  background-color: rgb(245, 245, 245);
}

.row-line{
  padding-top: 1em;
}

.text-size-sm{
  font-size: 14px;
}

.links{
  color: rgb(42, 84, 207);
}
.text-size-md{
  font-size: 15px;
}