.dashbar {
    display: block !important; 
    height: 6em;
    background-color: rgb(122, 145, 189);
}
#applications-label{
    color: rgb(61, 110, 201);
    text-align: left;
    padding-top: 1.5em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
#user-details-label{
    color: rgb(61, 110, 201);
    text-align: left;
    padding-top: 1.5em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
#data-raw{
    padding-top: 1.5em;
}
.name-label{
    position: relative;
    padding-left : 2em;
    color: aliceblue;
}

.edit-profile{
    position: relative;
    right: 20em;
    float: right;
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
    background-color: rgb(49, 104, 255);
}

.user-data-form{
    width: 65%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.application-data-form{
    width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.user-applicatio-table{
    width: 65%;
    padding-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.but-table-edit{
    margin-left: 5px;
    margin-right: 5px;
    left: 10px;
    right: 10px;
    background-color: rgb(199, 180, 118) !important;
    border: none !important;
    float: left;
}
.but-table-delete{
    margin-left: 5px;
    margin-right: 5px;
    left: 10px;
    right: 10px;
    background-color: rgb(190, 109, 109) !important;
    border: none !important;
    float: right;
}
.but-table-preview{
    margin-left: 5px;
    margin-right: 5px;
    left: 10px;
    right: 10px;
    background-color: rgb(109, 147, 190) !important;
    border: none !important;
    float: right;
}

.buttons-holder{
    width: 30%;
}
.change-page{
    margin-left: 5px;
    margin-right: 5px;
}


.modal-footer-edit-button{
    background-color: rgb(237, 178, 100) !important;
    border: none !important;
}