.title {
    color:rgb(42, 99, 228);
    padding-top:40px;
    padding-bottom:3px;
    text-align: left;
    text-decoration: underline;
    padding-left: 25em;
}

.text_info {
    width:1000px;
    margin:auto;
    text-align: justify;
    padding-left: 25em;
    padding-right: 25em;
    padding-bottom: 15em;
}

#site-info{
    width: 100%;
    height: 200px;
}
