.cards {
  height: 100%;
  color: rgb(39, 39, 39);
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(241, 241, 241) !important;
  border: none;
}


.must-see{
  padding-bottom: 5em;
  padding-left: 25em;
  padding-right: 25em;
  background-color: rgb(250, 250, 250);

}
#but{
  width: 50%;
  margin-left: 25%;
  position:absolute;                 
  bottom:5px;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 104, 255);

}

.title-cards{
  text-align: center;
  vertical-align: middle !important;
}